<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Booster</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" >
</head>
<body>
    <h1>Booster page</h1>
    <form action="/booster" method="post">
        <button type="submit" th:disabled="${data.trainerCash < data.boosterCost}">Kup karty za [[${data.boosterCost}]]</button>
    </form>
    <div th:if="${error!=null}">
        <p th:text="${error}"></p>
    </div>
    <div  th:if="${booster!=null}">
        <div class="card" th:each="card:${booster}">
            <p th:text="${card.name}"></p>
            <img th:src="${card.imageUrl}" />
        </div>

    </div>
</body>
</html>